<p>Student added with the following details:</p>
<p>Name: <%= @student.first_name() %> <%= @student.second_name() %></p>
<p>House: <%= @student.house() %></p>
<p>Age: <%= @student.age() %></p>

<a href="/students">Back to All Students</a>
