<form action="/students" method="post">

  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name">

  <label for="second_name">Second Name:</label>
  <input id="second_name" type="text" name="second_name">

  <label for="house-select">Select a house:</label>
  <select id="house-select" name="house_id">
  <% @houses.each do |house| %>
  <option value= "<%= house.id %>"><%= house.name %></option>
  <% end %>
  </select>


  <label for="age">Age:</label>
  <input id="age" type="number" name="age">

  <input type="submit" value="Add Student">

</form>
